* {
    font-family: 'shrikhandregular', sans-serif;
    font-weight: 100;
}
@font-face {
    font-family: 'shrikhandregular';
    src: url('/odin-recipes/shrikhand-regular-webfont.woff2') format('woff2'),
         url('/odin-recipes/shrikhand-regular-webfont.woff') format('woff');
}
body {
    background-image: url('imgs/');
    background-size: cover;
    background-position: center;
    background-color: #344e41;
}
h1 {
    text-align: center;
    color: #a3b18a;}
#gibli.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
#gibli {
    border-radius: 8px;
}
.cheeseborek {
    text-align: center;
    width: 15%; 
    margin: auto; 
    padding: 14px; 
    border: 2px solid #dad7cd; 
    border-radius: 8px; 
    color: #a3b18a;
    background-color: #588157;
    text-decoration: none;
    display: block;
}
.dolma {
    text-align: center;
    width: 15%; 
    margin: auto; 
    padding: 14px; 
    border: 2px solid #dad7cd; 
    border-radius: 8px; 
    color: #a3b18a;
    background-color: #588157;
    text-decoration: none;
    display: block;
}
.kunefe {
    text-align: center;
    width: 15%; 
    margin: auto; 
    padding: 14px; 
    border: 2px solid #dad7cd; 
    border-radius: 8px; 
    color: #a3b18a;
    background-color: #588157;
    text-decoration: none;
    display: block;
}