body {
    background-image: url('imgs/background.jpg');
    background-size: cover;
    background-position: center;
}
#logo.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22%;
}
#gibli.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
#gibli {
    border-radius: 8px;
}
.menu {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #540b0e;
    font-size: 27px;    
}
.menu a {
    text-decoration: none;
    color:#540b0e 
}
.menu a:hover {
    background-color:bisque;
}